
{% extends 'base.html'%}
{% load static %}
{% block content %} 
    <div class = "container">
      <br>
      <h2 class = "text-center">Instagram Project</h2> 
      <br>
      <div class="row">
        {% for media in all_media %}
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-left">
                <p class="card-title">{{ media.caption }}</p>
                <hr>
                <p class="card-title"><img src="{{ media.url }}" width="400"></p>                
              </div>
            </div>
            <br><br><br>
          </div>
        {% endfor %}
      </div>
    </div>  
{% endblock %}